<div class="container-big-card">

    <div class="big-card-picture">
      <img
      src="https://img.quizur.com/f/img5f0c80e0bd9d08.31973740.jpg?lastEdited=1594654954"
      alt=""
      height="200px"

      srcset=""
      >
    </div>

    <div class="big-card-title">
      <h1><a href="#">Chegou a nova atualização</a></h1>
    </div>

    <div class="big-card-description">
      <p>
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, lorem ac venenatis viverra, urna ex dignissim mi, sit amet accumsan lectus nunc vehicula lectus. Mauris eget elementum lectus. Nullam quam nisi, sodales vel felis ac, porta feugiat.
        </a>
      </p>
    </div>
</div>
